.post {
	display: grid;
	grid-gap: 20px;
	align-items: center;
	grid-template-columns: auto 400px 400px auto;
	width: 100%;
	height: 100vh;
}

.postStatement {
	grid-column: 2 / 4;
}

.postedStatements {
	grid-column: 2 / 3;
	grid-row: 3 / 4
}