.post {
	display: grid;
	grid-gap: 20px;
	align-items: center;
	grid-template-columns: auto 400px 400px auto;
	width: 100%;
	height: 100vh;
}

.postStatement {
	grid-column: 2 / 4;
}

.postStatementGrid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, auto);
}
