.App {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	height: 100%;
	overflow: hidden;
}

h1, h3 {
	margin: 5px 0px;
}

h3 {
	font-weight: lighter;
}

.card {
	color: white;
	min-height: 120px;
}

.cardTitle {
	position: relative;
	background-color: #161616;
	height: 60px;
	padding: 10px 20px;
	font-size: 30px;
	font-weight: lighter;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardBody {
	background-image: linear-gradient(to bottom, #212121 0%,#161616 100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	padding: 20px;
	box-sizing: border-box;
}

.cardFooter {
	height: 50px;
	font-weight: bolder;
	font-size: 20px;
	margin-top: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.cardFooter::before {
	height: 50px;
}

.cardInfo {
	height: 0px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
	transition: 0.25s;
	background-color: white;
	box-sizing: border-box;
	margin-bottom: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardError {
	padding: 2px;
	height: 25px;
	background-color: red;
	margin-bottom: 0px;
}

.cardSuccess {
	padding: 2px;
	height: 25px;
	background-color: green;
	margin-bottom: 0px;
}

.cardIcon {
	position: absolute;
	font-size: 40px;
	right: 20px;
}


label {
	display: block;
	margin-bottom: 5px;
	font-weight: lighter;
}

input, select {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding: 0px 10px;
	box-sizing: border-box;
}

button {
	position: relative;
	border: none;
	background-color: white;
	height: 30px;
	width: 100%;
}

.errorButton {
	background-color: red;
	color: white;
	height: 40px;
}

button:disabled {
	background-color: #ddd;
}

button::before {
	content: "";
	display: block;
	position: absolute;
	width: 0%;
	height: 30px;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.05);
	transition: 0.25s;
	cursor: pointer;
}

button:hover::before{
	width: 100%;
}

button:disabled:hover::before {
	width: 0%;
}

.material-icons {
	pointer-events: none;
}

.autoGrid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}